$responsive-mobile: 480px;
$responsive-tablet: 768px;
$responsive-laptop: 992px;
$responsive-desktop: 1200px;
$container-width: 1000px;

$reg: "ProximaNovaRegular";
$bold: "ProximaNovaBold";
$light: "ProximaNovaLight";
$n: 'Nunito', sans-serif;