section.challenge
	.container
		.txt-container
			.data
				h3 The Challenge
				p.
					HomeStars is Canada’s largest and most trusted network for connecting homeowners with qualified Service Providers for all of their home improvement projects. As a fully online service, the company pays special attention to maintaining its strong online presence, in particular on social media.
				p.
					As a team of skilled professionals, the marketing department at HomeStars always wanted to include video in its content marketing plan, however, the resources to create video content were limited. A few years ago the team hired an agency to produce videos for HomeStars, but the endeavour did not develop into a solid video marketing strategy. 
				p.
					“I wanted to create more engaging content for social media and knew that video was the best medium to use,” said Michael Keshen, B2C Marketing Manager at HomeStars. “The problem was that, as a small team, we didn’t have the resources available to hire a videographer or outsource video production to an agency.”
			.banners
				.banner
					img(src="assets/images/challenge-img.png", alt="The Challenge")
					span Read more:
					ul
						li
							a(href="#") What Is Video Marketing And
						li
							a(href="#") Why Does Your Company 
						li
							a(href="#") Need It?
