section.company
	.container
		h2 Company
		.txt-container
			.data
				p.
					HomeStars is a free service helping homeowners find reputable renovators, repairmen and retailers through its database of 1.8 million companies and hundreds of thousands of reviews. A trusted resource since 2006, HomeStars has grown to be the leading online community of homeowners and home improvement companies in Canada. 
			.banners
				a(href="#" class="homestars-banner")
					img(src="assets/images/homestars-logo.png", alt="HomeStars")
		.about-company
			ul
				li
					i.icon
					p Location
					span Canada
				li
					i.icon
					p Industry
					span Software & Internet
				li
					i.icon
					p Wave Use Cases
					span Content repurposing
				li
					i.icon
					p Website
					a(href="#") homestars.com
