footer
	.container
		.footer-navigation
			.navigation-list
				p PRODUCTS
				ul
					li
						a(href="#") Animatron Wave
					li
						a(href="#") Animatron Studio
			.navigation-list
				p COMPANY
				ul
					li
						a(href="#") About
					li
						a(href="#") Affiliates
					li
						a(href="#") Privacy Policy
					li
						a(href="#") Terms of Use
			.navigation-list
				p SUPPORT
				ul
					li
						a(href="#") Knowledge Base
					li
						a(href="#") Blog
					li
						a(href="#") Tutorials
					li
						a(href="#") Forum
		.feedback
			.subscribe
				p SUBSCRIBE TO OUR NEWSLETTER:
				form(action="#")
					input(type="email" required placeholder="What’s your email?")
					button(type="submit")
			.social
				ul
					li
						a(href="#" title="Facebook" class="facebook") Facebook
					li
						a(href="#" title="Twitter" class="twitter") Twitter
					li
						a(href="#" title="YouTube" class="youtube") YouTube
		.footer-bottom
			.footer-data
				.footer-logo
					a(href="#" title="Animatron")
						img(src="assets/images/animatron-logo.png", alt="Animatron")
				.copyright.
					Copyright © 2017 Animatron. All screenshots © their respective
			.languages
				.choosen-language.eng English
				ul.languages-list
					li
						a(href="#" class="eng") English
					li
						a(href="#" class="eng") English
					li
						a(href="#" class="eng") English
script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
script(src="assets/js/main.js")