section.login
	.container
		.signin-img
			img(src="assets/images/devices.png", alt="Increase Facebook")
		.signin-data
			p.
				Increase Facebook Engagement by 2,500% with Wave 
			a(href="#") SIGN UP FREE TODAY