.menu-line
	nav
		ul
			li
				a(href="#") Pricing
			li
				a(href="#") Blog
			li
				a(href="#") Company
	.header-btns
		a(href="#" class="my-videos") My videos
		a(href="#" class="create-video") + Create video
		.user-panel
			.user-avatar
				img(src="assets/images/user.png", class="img" alt="My account")