section.results
	.container
		.txt-container
			.data
				h6 The Results
				p.
					Michael compared the performance of the videos he created in Wave and the blog post links that the videos were repurposed from. The results were astonishing. On average, the Facebook Reach of the videos compared to the blog posts grew by 101%, Clicks and Views peaked to 2,586%, and Likes, Shares, Comments increased by 64%. Boosted posts saw the biggest increase in engagement overall. 
				p.
					Also, Wave’s 2.5 million video and audio library addressed a major problem of finding the right footage to use in videos. Wave makes it easy to find clips which is “the hardest (and often most expensive) part of producing video.”
				p.
					“The biggest difference was the integration with stock footage, images and audio, which I have not seen anywhere else,” said Michael. “Wave solves the biggest challenge we were facing, which was where to find the footage to use in the videos.”
				p.
					Another way Wave was able to save time is by providing a number of hand-picked text effects and transitions between the clips. The text effects and transitions were carefully preselected by Wave designers to ensure they complement any video and make it more engaging.
				p.
					“Compared to the endless possibilities of a traditional video editor, having a smaller number of transitions and animations to choose from ensures I’ll spend less time editing,” said Michael.
			.banners
				.banner
					img(src="assets/images/results-banner1.png", alt="")
					span Free workshop:
					ul
						li
							a(href="#") Create Engaging Videos for
						li
							a(href="#") Social Media with Mari Smith
				.banner
					img(src="assets/images/results-banner2.png", alt="")
					span Learn more:
					ul
						li
							a(href="#") Social Media Cheat Sheet For
						li
							a(href="#") Video Ad Specs