section.reviews
	.review
		.container
			.review-avatar
				img(src="assets/images/response-author.png", alt="Michael Keshen")
			.review-body
				p.
					The biggest difference was the integration with stock footage, images and audio, which I have not seen anywhere else. Wave solves the biggest challenge we were facing, which was where to find the footage to use in our videos.
				.review-author
					.author-name Michael Keshen
					.author-position B2C Marketing Manager
					.authir-company HomeStars