script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js")
//- script(src="assets/js/radial-progress-chart.min.js")
script(src="assets/js/circle-progress.min.js")
script(src="assets/js/main.js")