section.solution
	.container
		.txt-container
			.data
				h4 The Solution
				p.
					Michael discovered Wave at Social Media Marketing World 2017 where <a href="#">Animatron</a> launched the product. Being responsible for growing the audience, Michael immediately had an idea of how Wave can benefit the company’s content marketing activities.
				p.
					The HomeStars marketing team analyzed its top-performing blog posts and repurposed them into short video clips which were published on Facebook, Twitter and Instagram. Repurposing the blog content into social media videos allowed Michael to maximize the ROI on the content efforts since he was able to distribute the videos on multiple platforms and reach new audiences as well as save time creating content for different social networks.
			.banners
				.banner-phone
					img(src="assets/images/phone.png", alt="")