section.videos
	.container
		h5 Sample Videos Created by HomeStars
		.example
			.video-data
				.video-description
					span Door colors and their meanings
					p.
						See how the Facebook post’s performance improved after adding the Wave video:
				.video-stats
					ul
						li
							.parent-chart.reach-chart(data-value="0.75")
								.grey-chart(data-value="0.2")
								.chart-status
							.chart-values
								.new-value 3996
								.old-value 895
							span REACH
						li
							.parent-chart.click-chart(data-value="0.85")
								.grey-chart(data-value="0.09")
								.chart-status
							.chart-values
								.new-value 1294
								.old-value 47
							span CLICKS / VIEWS
						li
							.parent-chart.likes-chart(data-value="0.75")
								.grey-chart(data-value="0.25")
								.chart-status
							.chart-values
								.new-value 19
								.old-value 6
							span LIKES, SHARES, COMMENTS
			.video-holder
				a(href="#")
					img(src="assets/images/video-preview-1.png", alt="Door colors and their meanings")
					.video-duration 0:58
		.example
			.video-data
				.video-description
					span Home security tips
					p.
						See how the Facebook post’s performance improved after adding the Wave video:
				.video-stats
					ul
						li
							.parent-chart.reach-chart(data-value="0.75")
								.grey-chart(data-value="0.2")
								.chart-status
							.chart-values
								.new-value 5568
								.old-value 1107
							span REACH
						li
							.parent-chart.click-chart(data-value="0.85")
								.grey-chart(data-value="0.13")
								.chart-status
							.chart-values
								.new-value 1959
								.old-value 19
							span CLICKS / VIEWS
						li
							.parent-chart.likes-chart(data-value="0.75")
								.grey-chart(data-value="0.30")
								.chart-status
							.chart-values
								.new-value 15
								.old-value 6
							span LIKES, SHARES, COMMENTS
			.video-holder
				a(href="#")
					img(src="assets/images/video-preview-2.png", alt="Home security tips")
					.video-duration 0:58