section.videos
	.container
		h5 Sample Videos Created by HomeStars
		.example
			.video-data
				.video-description
					span Door colors and their meanings
					p.
						See how the Facebook post’s performance improved after adding the Wave video:
				.video-stats
					ul
						li
						li
						li
			.video-holder
				a(href="#")
					img(src="assets/images/video-preview-1.png", alt="Door colors and their meanings")
					.video-duration 0:58
		.example
			.video-data
				.video-description
					span Home security tips
					p.
						See how the Facebook post’s performance improved after adding the Wave video:
				.video-stats
					ul
						li
						li
						li
			.video-holder
				a(href="#")
					img(src="assets/images/video-preview-2.png", alt="Home security tips")
					.video-duration 0:58