<!DOCTYPE html>
html(lang="en")
	head
		include parts/_head.jade
		title Wave
	body
		include parts/_header.jade
		include parts/_main-section.jade
		include parts/_company.jade
		include parts/_challenge.jade
		include parts/_reviews.jade
		include parts/_solution.jade
		include parts/_videos.jade
		include parts/_results.jade
		include parts/_login.jade
		include parts/_footer.jade
		include parts/_scripts.jade